@mixin bottomBlock {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: $color__primary;
        box-shadow: 0 15px 45px fade-out(#FBD6BA, 0.4);
        z-index: -1;
        transform: translate(12%, 13px);

        @include responsive(1024px) {
            height: 80%;
            transform: translate(-26px, 12%);
        }
    }
}

@mixin responsive($width) {
    @media only screen and (min-width: $width) { @content };
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}