.footer {
    background: $color__secondary;
    padding: 65px 45px 0 45px;
    
    
    &__columns {
        display: flex;

        flex-direction: column;

        @include responsive(500px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @include responsive(1024px) {
            flex-wrap: nowrap;
        }
    }
    &__column {
        text-align: center;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 50px;
        }
        
        @include responsive(500px) {
            margin-left: 30px;
            margin-right: 30px;
            
            &:last-child {
                flex-basis: 100%;
            }
        }
        @include responsive(1024px) {
            text-align: left;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                text-align: left;
                margin-left: auto;
                flex-basis: auto;
            }
        }
    }
    @include responsive(1024px) {
        &:last-child {
            text-align: left;
        }
    }
    &__heading {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 16px;
        font-weight: 600;

        @include responsive(764px) {
            font-size: 20px;
        }
        @include responsive(1024px) {
            font-size: 25px;
        }
    }
    &__link {
        margin: 8px 0;
        text-decoration: none;
        color: $color__subtext;

        &:hover {
            text-decoration: underline;
        }
    }
    &__newsletter-form {
        display: flex;
        flex-direction: column;
    }
    &__newsletter-input {
        font-family: inherit;
        border: none;
        padding: 15px;
        width: 90%;
        margin: auto;
        max-width: 320px;

        @include responsive(1024px) {
            margin: 0;
            width: 600px;
        }
    }
    &__button {
        align-self: center;
        background: $color__primary--darken;
        border: none;
        font-family: inherit;
        padding: 10px 40px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        @include responsive(1024px) {
            align-self: flex-start;
            font-size: 20px;
        }
        &:active {
            transform: translateY(1px);
        }
    }
    &__txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include responsive(1024px) {
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 45px;
        }
    }
    &__made-love {
        display: flex;
        align-items: center;
        padding: 45px 0;

        @include responsive(1024px) {
            padding: 0;
        }
    }
    &__icons {
        padding-bottom: 45px;
        display: flex;

        @include responsive(1024px) {
            padding-bottom: 0;
        }
    }
    &__icon-wrap {
        display: block;
    }
    &__icon {
        height: 20px;
        margin: 0 8px;
    }
    &__heart {
        height: 15px;
        margin-left: 5px;
    }
}